@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
  }
  
  h3{
    font-size: 24px;
  }
  
  p{
    font-size: 12px;
  }
  
  div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
  
  header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  header{
    background-color: #EAC926;
    padding: 5px;
  }
  
  header div.logo,
  header .form{
    width: 50%;
  }
  
  header div.logo{
    padding: 10px;
  }
  header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    background-color: #EAC926;
    border: none;
  }
  header nav{
    font-size: 12px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  header ul li{
    list-style-type: none;
    display: none;
  }
  
  header ul li a{
    text-decoration: none;
    color: #000;
  }
  

  header .form .text{
    background-color: #FFF;
    border:none;
    color: #666;
    width: 204%;
    border-radius: 6px;
  }
  
  header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
  }
  footer{
    text-align: center;
    background-color:#ebebeb;
    color: #000;
}
.iconos{
    color: #0044AA;
}
  div.burger-menu{
    text-align: center;
  }
  
  div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
  
  div.last-visit,
  div.offers{
    display: flex;
    flex-wrap: wrap;
  }
  
  .price{
    font-size: 18px;
    width: 30%;
  }
  
  .discount{
    width: 70%;
  }
  
  .discount,
  .description{
    font-size: 16px;
    font-weight: normal;
  }
  
  h3,
  .description{
    color: #666;
  }
  
  .description{
    display: none;
    margin-top: 20px;
  }
  
  section.banner img{
    width: 100%;
  }
  
  main{
    width: 90%;
    margin: 0 auto;
  }
  
  main section article{
    background-color: #fff;    
    margin: 10px 0px;
  }
  
  main section article img{
    width: 100%;
  }
  
  main section article i,
  .discount{
    color: #39b54a;
  }
  
  main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
  }
 main{
  background-color: #000;
  background-color: #FFF;
 }
  
  main section h3{
    margin: 20px 0px;
  }
  
  article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
  }
  
form{
  font-family: "roboto";
  text-align: center;
  border-radius: 8px;
  padding-top: 30px;
  background-color: #FFF;
  border: 1px solid #ccc;
}
form div{
  margin: 10px;
  
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"]{
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 13px;
}
input[type="submit"],
input[type="reset"]{
  background-color: #666;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  width: 80%;
  margin-top: 10px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0022AA; 
}
.flex-container{
    display: flex;
    gap: 26px;
    color: #000;
}
footer h4{
 color: #000 ;
}
footer p{
  color: #666;
}
.copy{
  text-align: left;
  margin-top: 10px;
  padding-left: 5px;
}
  
  @media (min-width: 361px){
    main section article .description{
        display: block;
    }
  
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header ul li{
        display: block;
    }
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }
  
    .price,
    .discount{
        width: 50%;
    }
    div.burger-menu i{
      background-color: #0044AA;
      border-radius: 5px;
      color: #FFF;
      font-size: 20px;
      height: 40px;
      margin: 10px 0px 20px 0px;
      padding: 10px;
      width: 40px;
      display: none;
    }
    header nav ul li {
      margin-right: 20px;
      display: inline;
    }
  }
  
  @media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"]{
  width: 50%;
}
input[type="submit"],
input[type="reset"]{
  width: 50%;
  
}


.products article .description {
  opacity: 0;
  transition: opacity 0.2s;
  }
  .products article:hover .description {
    opacity: 1;
}
.products article:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.products article .fas.fa-truck {
  transition: transform 0.3s ease-in-out;
}
.products article:hover .fas.fa-truck {
  transform: rotate(-90deg);
}

.iconos i {
  font-size: 16px; /* Tamaño de los íconos */
  transition: color 0.3s; /* Transición de cambio de color */
}

.iconos i:hover {
  color: #000; /* Cambia el color al pasar el mouse por encima */
}
div.burger-menu i{
  background-color: #0044AA;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
  display: none;
}
header nav ul li {
  margin-right: 20px;
  display: inline;
}

  }